<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>📘 College Management Portal</h1>

        <div class="button-grid">
            <a href="{{ url_for('professor_timetale') }}" method="POST"><button class="btn">Professor</button></a>
            <a href="{{ url_for('batches_timetale') }}" method="POST"><button class="btn">Batches</button></a>
            <a href="{{ url_for('classroom_timetale') }} " method="POST"><button class="btn">Classroom</button></a>
            <a href="{{ url_for('lab_timetale') }} " method="POST"><button class="btn">Lab</button></a>
        </div>

        <form action="{{ url_for('get_timetable') }}" method="POST">
            <button type="submit">Make Schedule</button>
        </form>

    </div>
</body>
</html>
